
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body{
	font-family: "Arial", verdana;
	background: #ccc;
}


/********************************************************************************
***************************   CABECERA    ***************************************
********************************************************************************/


header{
	/*position: fixed;
	top: 0;*/
	box-sizing: border-box;
	width: 100%;
	background: #2c3e50 ;   /*#2c3e50*/
	padding: 2px;
	padding: 1% 1%;
	color: #fff;
	 /*z-index: 100;*/

}

header  .titulo{
	display: inline-block;
	

}

nav{
	/*display: inline-block;*/
	margin-right: 40px;
	float: right;
}

#buscar{
	display: inline-block;
	width: 20%;
	margin-left: 110px;
}

#buscar input{
	width: 100%;
	height: 30px;
	border-radius: 5px;
	border-style: none;
	font-size: 17px;
	text-align: center;
}

#buscar input:focus{
	outline: none;
}

nav > ul > li{			
	list-style: none;
	float: left;
	position: relative;
}

nav ul li a{
	display: block;
	/*margin-top: 5px;*/
	padding: 10px;
	text-decoration: none;
	color: #fff;
	border-radius: 5px;
	font-size: 17px;   /*10px 5px 7px 5px*/
	font-weight: bold;
}

nav ul li a span{
	font-size: 17px;
}

nav ul li a:hover{
	background: #EFEFFB;
	color: #000;
}



/******************************************************
****************    NAV MENSAJE    *******************
******************************************************/

header nav .nav-mensaje{
	position: relative;
}


header nav .no-leido{
	position: absolute;
	top: 6px;
	left: 8px;
	background: red;
	font-size: 11px;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 4px;
	padding: 0px 4px;
	color: #fff;
}


/*********************************************/


/******************************************************
*********   LISTA ABAJO SOLICITUD DE AMISTAD   *******
******************************************************/

#info-solicitud #nav-solicitud {
    visibility: hidden;
    width: 235px;
    background-color: #fff;
   
    top: 40px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

header nav #info-solicitud:hover #nav-solicitud{
	visibility: visible;
}

#nav-solicitud li{
	list-style: none;
}


#nav-solicitud li a{
	 color: #2c3e50;
}

#nav-solicitud li a:hover{
	background: #2c3e50;
	color: #fff;
}

#nav-solicitud::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
   left: 7%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
} 


#solicitud-confirmar{
	width: 90%;
}

#solicitud-confirmar li{
	display: inline-block;
}



/*****************************************************
************    INFO NOTIFICACIONES      *************
*****************************************************/

#info-notificaciones #nav-notificaciones {
   visibility: hidden;
    width: 335px;
    background-color: #fff;
   
    top: 40px;
 	right: -150px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

header nav #info-notificaciones:hover #nav-notificaciones{
	visibility: visible;
}

#nav-notificaciones li{
	list-style: none;
}


#nav-notificaciones li a{
	font-size: 17px;
	 color: #2c3e50;
}



#nav-notificaciones li a:hover, #nav-notificaciones li a:hover p{
	background: #2c3e50;
	color: #fff;
}

#nav-notificaciones li a p{
	font-size: 13px;
	 color: black;
	 font-weight: bold;
}

#nav-notificaciones::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
   left: 48%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
} 








/******************************************************
****************   PERFIL    *************************
******************************************************/


#perfil{
	margin: 10px auto;
	/*background: #fff;*/
	width: 90%;
	overflow: hidden;
	border-radius: 70px;
}

#perfil > ul li{
	list-style: none;
}

#perfil > ul > li{
	float: left;
	box-sizing: border-box;
	padding: 2% 3%;
	width: 33%;
	
}

#perfil > ul > li > ul li{
	list-style: none;
	margin-top: 20px;
	margin-left: 10px;
}

#perfil #img{
	width: 150px;
	border-radius: 80px;
}


#perfil > ul li a{
	padding: 2% 3%;
	background: #2c3e50; /* #1caff6*/
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
}

#perfil > ul li >span{
	padding: 3px;
	background: #1caff6;
	color: #fff;
	margin-left: 10px;
}









/******************************************************
****************LISTA ABAJO****************************
******************************************************/

#nav-perfil {
    visibility: hidden;
    width: 135px;
    background-color: #fff;
   
    top: 40px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

header nav .info_usuario:hover #nav-perfil{
	visibility: visible;
}

#nav-perfil li{
	list-style: none;
}


#nav-perfil li a{
	 color: #2c3e50;
}

#nav-perfil li a:hover{
	background: #2c3e50;
	color: #fff;
}

#nav-perfil::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/******************************************************
****************   PERFIL    *************************
******************************************************/


#perfil{
	margin: 10px auto;
	/*background: #fff;*/
	width: 90%;
	overflow: hidden;
	border-radius: 70px;
}

#perfil > ul li{
	list-style: none;
}

#perfil > ul > li{
	float: left;
	box-sizing: border-box;
	padding: 2% 3%;
	width: 33%;
	
}

#perfil > ul > li > ul li{
	list-style: none;
	margin-top: 20px;
	margin-left: 10px;
}

#perfil #img{
	width: 150px;
	border-radius: 80px;
}


#perfil > ul li a{
	padding: 2% 3%;
	background: #2c3e50; /* #1caff6*/
	color: #fff;
	border-radius: 5px;
	font-weight: bold;
	text-decoration: none;
}

#perfil > ul li >span{
	padding: 3px;
	background: #1caff6;
	color: #fff;
	margin-left: 10px;
}


/*#conte-img, #conte-info, #conte-amigos-publicaciones{
	float: left;
}



#conte-img{
	box-sizing: border-box;
	padding: 2% 3%;
	background: blue;
	width: 29%;
	
}
#conte-info{
	box-sizing: border-box;
	padding: 2% 3%;
	background: red;
	width: 40%;
	
}

#conte-amigos-publicaciones{
	box-sizing: border-box;
	padding: 2% 3%;
	background: green;
	width: 29%;
		
}

#conte-img img{
	box-sizing: border-box;
	width: 90%;
	border-radius: 20px;
}*/

/*#perfil div img{
	width: 15%;
	border-radius: 80px;
}*/












/********************************************************************************
***************************   PUBLICACION    ************************************
********************************************************************************/



section{
	/*display: inline-block;*/


}

.publicacion{
	max-width: 35%;
	margin: auto;
	background: #fff;
	margin-top: 15px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
	overflow: hidden;
}

section .publicaciones{
	margin-top: 45px;
}

.publi-info-perfil{
		box-sizing: border-box;
		width: 100%;
		padding: 7px 10px 7px 10px;
		
}

.publicacion .publi-img-perfil{
	width: 30px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.publi-img-perfil{
	width: 30px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.publicacion img{
	box-sizing: border-box;
	width: 100%;
	
}

 a.nombre-usuario{
	text-align: center;
	margin-bottom: 10px;
	text-decoration: none;
	color: #2c3e50;
	font-size: 18px;
}

.publi-thumb {
	
	width: 100%;
	margin: auto;
	/*margin-bottom: 30px;*/
	/*outline:5px solid rgba(255,255,255,0);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	box-shadow: 2px 2px 3px rgba(0,0,0,.8);
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;*/
}




.publi-contenido{
	margin: 5px 5px 10px 10px;
	font-style: inherit;
	font-size: 12px;
	color: black;
	font-weight: lighter;
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}





.publicacion .like{
	padding: 5px;
	/*border-top: 1px solid blue;
	border-bottom: 1px solid blue;*/
}

.publicacion .like a{
	font-size: 17px;
}


.publicacion .like a:hover{
	text-decoration: underline;
}

.publi-contene-like{
	border-top: 1px solid #ccc;
	padding: 10px;
}

.publicacion .comentario{
	display: inline-block;
}

.publicacion .comentario input, .subir #contenido{
	padding: 10px;
	border-style: none;
	font-size: 17px;
	width: 91%; 	
}

.publicacion .comentario input:focus{
	outline: none;
}



.comentario-nombre, #like{
	margin-left: 10px;
	margin-bottom: 7px;
	color: #2c3e50;
	font-size: 15px;
	font-weight: bold;

}


.comentario-nombre .comentarios{
	font: inherit;
	font-size: 12px;
	color: black;
	font-weight: lighter;
	font-family: 'proxima-nova','Helvetica Neue',Arial,Helvetica,sans-serif;
}








/******************************************************
****************CONECTADOS****************************
******************************************************/

#conectados{
	position: fixed;
	right: 12px;
	bottom: 0;
	width: 250px;
	
}

#conectados .head-conectados{
	box-sizing: border-box;
	width: 100%;
	background: #2c3e50;
	color: #fff;
	padding: 10px;
	border-radius: 5px 0;
}

	#conectados .head-conectados:hover{
	cursor: pointer;

}



 .usuarios-conectados{
	background: #fff;
	height: 300px;
	overflow: scroll;
	/*display: none; */
}


 .usuarios-conectados  .nombre{
	display: block;
	
	cursor: pointer;
	/*overflow:hidden;  white-space: nowrap;  text-overflow: ellipsis;*/

}

.usuarios-conectados .publi-img-perfil{
	width: 30px;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 10px;
}




/******************************************************
****************SUBIR IMAGEN****************************
******************************************************/


.subir{
	width: 35%;
	background: #fff;
	margin: auto;
	border-radius: 10px;
	margin-top: 5px;
}


.subir form{
	border-top: 1px solid #2c3e50;	
}

.subir #contenido{
	padding: 10px;
	border-style: none;
	font-size: 17px;
	width: 83%; 	
}

.subir #contenido:focus{
	outline: none;
}

#archivo{
	width: 10%;
}


.boton-subir{
   background: #2c3e50;
   width: 20px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}


.boton-subir:hover{
	   
}


/******************************************************
****************BUSCAR USUARIO****************************
******************************************************/


.resultados-busqueda{
	width: 40%;
	margin: auto;
	margin-top: 10px;
	}

.resultados-busqueda .usuarios{

	background: #fff;
	width: 95%;
	margin: auto;
	margin-top: 10px;
	overflow: hidden;

}

.resultados-busqueda .usuarios div{
		float: left;
	}


.resultados-busqueda .img{
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	width: 20%;
}


.resultados-busqueda .img img{
	width: 100%;
}

.resultados-busqueda .nombre{
	margin: 33px 20px;
	width: 60%;	
	text-align: center;
}

.resultados-busqueda .nombre a{
	font-size: 120%;
}


.resultados-busqueda h1{
	margin-top: 200px;
}

/**************************************************************************
***************************** PAGINA DE MENSAJES  *************************
**************************************************************************/

#container{
	background: blue;
	margin: 10px auto;
}


/**************************************************
************	MENSAJES DE USUARIOS 	**********
**************************************************/

.contenedor-usuarios-mensajes{
	border-top: 30px solid #2c3e50;
	background: #fff;
	float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 365px;
	margin: 0px 0px 5px 50px;
	height: 540px;
	-webkit-box-shadow: -1px 10px 23px 1px rgba(0,0,0,0.68);
-moz-box-shadow: -1px 10px 23px 1px rgba(0,0,0,0.68);
box-shadow: -1px 10px 23px 1px rgba(0,0,0,0.68);
}

.contenedor-usuarios-mensajes ul{
	border-bottom: 1px solid #ccc;
	background: #fff;
	overflow: hidden;
	height: 90px;
}

.contenedor-usuarios-mensajes ul:hover{
	background: #F2F2F2;
	cursor: pointer;
}

.contenedor-usuarios-mensajes ul li{
	list-style: none;
}


.contenedor-usuarios-mensajes ul .mensaje-img{
	float: left;
	width: 30.5%;
	height: 75px;
	margin: 5px 8px 5px 10px;
	overflow: hidden;
}

.contenedor-usuarios-mensajes ul .mensaje-img img{
	width: 100px;
}



.contenedor-usuarios-mensajes  ul li .nombre{
	font-size: 16px;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 2px;
	color: #2c3e50;
}


.contenedor-usuarios-mensajes ul .mensajes{
	color: #A4A4A4;
	font-size: 13px;

}


/**************************************************
************	MENSAJES	***********************
**************************************************/


#contenedor-mensajes{
	float: left;
	width: 55%;
	margin-left: 20px;
	-webkit-box-shadow: -1px 10px 23px 1px rgba(0,0,0,0.68);
-moz-box-shadow: -1px 10px 23px 1px rgba(0,0,0,0.68);
box-shadow: -1px 10px 23px 1px rgba(0,0,0,0.68);
}

.contenedor-usuarios-mensajes a{
	text-decoration: none;
}

#contenedor-mensajes div#contenedor-nombre{
	background: #2c3e50;
	display: block;
	border-bottom: 1px solid #ccc;
	height: 89px;
	overflow: hidden;
}

#contenedor-mensajes div#contenedor-nombre img{
	width: 10%;
	margin: 15px 5px 5px 10px;
	float: left;
}

#contenedor-mensajes div#contenedor-nombre h2{
	margin: 25px 5px 5px 10px;
	float: left;
	color: #fff;
}


#contenedor-mensajes div#contenedor-chat{
	/*background: url("../img/fondo.jpg");*/
	background: #fff;
	height: 400px;
	border-bottom: 1px solid #ccc;
}

#contenedor-mensajes #contenedor-form-mensaje{
	background: #2c3e50;
	width: 100%;
	height: 51px;
}


#contenedor-mensajes #contenedor-form-mensaje form{
	
	width: 90%;
	margin: auto;
}

#contenedor-mensajes #contenedor-form-mensaje form input{
	margin-top: 7px;
	width: 100%;
	height: 33px;
	border-style: none;
	border-radius: 3px;
	font-size: 14px;
	padding: 10px;
}

#contenedor-mensajes #contenedor-form-mensaje form input:focus{
	outline: none;
}